link(rel="stylesheet" href="/stylesheets/delete-record-confirm.css")
.delete-window-container
  .delete-window
    .delete-post-text
      h3 Delete Record?
    .delete-cancel-buttons
      button(class='delete-button') Delete
      button(class='cancel-button') Cancel
