extends layout

append head
  link(rel="stylesheet" href="/stylesheets/error.css")


block content
  h1= `Congrats you broke it... ${message}`
  h2= error.status
    i(class="fa-solid fa-microphone-slash fa-1x")
  //- pre #{error.stack}
  a(href="/records"): h1 Return to Vinyl!
