extends layout
include utils



append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  script(src="../public/javascripts/index.js")
  header
    div
      h1 VINYL
    div(class='buttons')
      p:a(type='button' class='signin' id='sign-in-open') Sign-in
      p:a(type='button' class='signup' id='sign-up-open') Sign-Up
  main
    div
      img(src='/images/main.jpg')
    div

  footer

  div(class="sign-in-container")
    p Login

    +validationErrorSummary(errors)
    form(action='/' method='post' class='login-form')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for="userName") User-Name
      input(type="text" id="userName" name="userName")
      label(for="password") Password
      input(type="password" id="password" name="password")
      input(type="submit" value="Sign-in" id="sign-in-close")

  div(class="sign-up-container")
    p Login

    +validationErrorSummary(errors)
    form(action='/' method='post' class='signup-form')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for="userName") User-Name
      input(type="text" id="userName" name="userName")
      label(for="password") Password
      input(type="password" id="password" name="password")
      label(for="passwordConfirm") Confirm Password
      input(type="password" id="passwordConfirm" name="passwordConfirm")
      input(type="submit" value="Sign-in" id="sign-in-close")
