extends layout
include utils



append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  script(src="../public/javascripts/index.js")
  header
    div
      h1 VINYL
    div
      p:a(type='button' class='signin' id='sign-in-open') Sign-in
      button(type='button' class='signup') Sign Up
  main

  footer
    div(class="sign-in-container")
      div(id="sign-in-instructions")
        p Enter your information to Sign In:

      +validationErrorSummary(errors)
      form(action='/' method='post' class='login-form')
        input(type='hidden' name='_csrf' value=csrfToken)
        div(id="userName-input")
          label(for="userName") User-Name
          input(type="text" id="userName" name="userName" class="inputBox")
        div(id="password-input")
          label(for="password") Password
          input(type="password" id="password" name="password" class="inputBox")
        div
          input(type="submit" value="Sign-in" id="sign-in-close")
