extends layout
include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  header
    div 
      h1= title
  main 

  footer 

  div
    button(type='button' class='login') Log In

  div 
    p Login
    
    +validationErrorSummary(errors)
    form(action='/' method='post' class='login-form')
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for="userName") User-Name
      input(type="text" id="userName" name="userName")
      label(for="password") Password 
      input(type="password" id="password" name="password")
      input(type="submit" value="submit")