extends layout
include utils



append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  script(src="../public/javascripts/index.js")
  header
    div
      h1 VINYL
    div(class='buttons')
      p:a(type='button' class='signin' id='sign-in-open') Sign-in
      p:a(type='button' class='signup' id='sign-up-open') Sign-Up
  main
    div(class='img-div')
      img(src='/images/main.jpg' class='main-img')
    div

  footer
    h3 Trending on vinyl

  div(class="sign-in-content")
    div(class="sign-in-container")
      div(id="sign-in-instructions")
        //- p Enter your information to Sign In:
        +validationErrorSummary(errors)
      form(action='/' method='post' class='login-form')
        input(type='hidden' name='_csrf' value=csrfToken)
        div(id="userName-input")
          +field('inputBox', 'username', 'userName', userName)
        div(id="password-input")
          +field('inputBox', 'Password', 'password', null, 'password')
        div
          input(type="submit" value="Sign-in" id="sign-in-close")
      p Enter your information to Sign In:

  div(class="sign-up-container")
    p Sign-Up

    +validationErrorSummary(errorsSignup)
    form(action='/sign-up' method='post' class='signup-form')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('inputBox', 'Username', 'userName', userName)
      +field('inputBox', 'Password', 'password', null, 'password')
      +field('inputBox', 'Confirm Password', 'confirmPassword', '', 'password')
      input(type="submit" value="SIGN UP" id="sign-up-close")
