link(rel="stylesheet" href="/stylesheets/nav-bar.css")
//- link stylesheet for nav bar
nav(class="nav-bar")
    //- div(class="icon")
    div(class='vinyl-icon')
        a(href='/records'): img(src='/images/light_icon.svg' class='nav-favi')
    //- div(class="interactions-nav-bar")
    div(class="home-create-buttons")
        a(href="/records"): i(class="fas fa-house fa-2x")
        //- a(href="/records"): img(src="/images/house-solid.svg" class="home-button")
        a(href="/records/new"): i(class="fas fa-square-plus fa-2x")
        //- a(href="/records/new"): img(src="/images/square-plus-solid.svg" class="create-record-button")
    div(class="user-logout-buttons")
        a(href=`/users/${ pk }`): i(class="fas fa-circle-user fa-2x")
        //- a(href=`/users/${ pk }`): img(src="/images/user-secret-solid.svg" class="user-button")
        a(href='/logout' class='logout-button'): i(class="fas fa-arrow-right-from-bracket fa-2x")
        //- a(href='/logout' class='logout-button'): img(src="/images/arrow-right-from-bracket-solid.svg" class="logout-button")
