extends layout
include utils
append head
  link(rel="stylesheet" href="/stylesheets/records.css")
  link(rel="stylesheet" href="/stylesheets/newRecord.css")
  //- add page specific js
  script(src="/javascripts/records.js" type="module" defer)
block content
    include navbar

    form(action='/records/new' method='post' class='record-form')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('title', null, 'title', title, null, 'Title')
        div(class='form-group')
          label(for='description')
          textarea(class='desc' type='text' id='description' name='description' placeholder='Description')= description
        div(class='bottom-submit')
          if errors
            div(class='alert' role='alert')
              each error in errors
                h2= error
          else
            h2 SHOW THE WORLD YOUR BAD MUSIC TAKE
          button(type='submit' class='record-submit') Publish
