extends layout

append head
    link(rel="stylesheet" href="/stylesheets/recordsId.css")
    //- script(src="/javascripts/index.js" type="module" defer)

block content
    //- include navbar
    main
        div()
            h1= record.title
            h2= record.User.userName
            p= record.description
        div()
            form(action='/records/:id/comments/:commentsId' method="post" class="comments-form")
                input(type='hidden' name='_csrf' value=csrfToken)
                div(class='text-area')
                    label(for='comment') Comment here:
                    textarea(name="comment" type='text' class='comment', cols="30", rows="10")
                button(type='submit' class='comment-submit') submit
