extends layout
include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/records.css")
  //- add page specific js
  script(src="/javascripts/records.js" type="module" defer)

block content

  include navbar
  main
    for record in records
    div(class='')
      h1= record.title
      p= record.description
