* {
  box-sizing: border-box;
}

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
} */

.delete-window-comment-container {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: fixed;
  width: 70vw;
  height: 100vh;
}

.delete-window-comment {
  display: none;
  z-index: -1;
  position: absolute;
  background-color: #191d26;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
}

.delete-comment-text {
  display: flex;
  /* margin: 16px 32px; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55%;
}

.delete-comment-text > h3 {
  
  color: rgb(232, 230, 227);
}

.delete-cancel-comment-buttons {
  display: flex;
  width: 100%;
  height: 45%;
  flex-direction: column;
}

.delete-cancel-comment-buttons button {
  display: block;
  width: 100%;
  height: 100%;
  /* flex-direction: column; */
  text-align: center;
  /* margin-top: 16px; */
  border: none;
  background-color: transparent;
  color: rgb(232, 230, 227);;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.delete-cancel-comment-buttons .delete-comment-button {
  color: red;
}

/* .delete-cancel-buttons .cancel-button {
  margin-bottom: 5px;
} */

.delete-cancel-comment-buttons button:hover {
  background-color: grey;
}

.show {
  display: flex;
  z-index: 10;
}