@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans&display=swap');

*{
    z-index: 4;
}

/* H1 = ICON */
h1 {
   margin-top: 0;
   margin-bottom: 0;
   font-family: 'Abril Fatface', cursive;
   color: darkgrey;
}
/* body */
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
/* header aka NAV BAR */
header {
    padding: 15px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191d26;
    position: sticky;
    color: white;
}
footer {
    padding: 20px 15%;
    border-bottom: 1px solid lightgray;
}
.buttons{
    display: flex;
    width: 300px;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}


.main-img {
    z-index: 2;
    height: 50vh;
}


.img-div{
    z-index: 2;
    display: flex;
    justify-content:right;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.signin, .signup {
  cursor: pointer;
}
/* sign up button */
.signup {
  border: 2px solid #b39856;
  background-color: #b39856;
  border-radius: 10px;
  padding: 3px 10px;
  margin-left: 10px;
}
.signup:hover {
  border: 2px solid #b39856;
  background-color: #191d26;
  color: #b39856;

}

/* SIGN IN  & SIGN UP container*/
.sign-in-container, .sign-up-container{
    overflow: wrap;
    display: none;
    z-index: 5;
    margin: 0 auto;
    position: absolute;
    width: 488px;
    height: 547px;
    background: #191d26;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
}
/* This content keeps the modals centered */
.sign-in-content, .sign-up-content{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: static;
    z-index: 3;
}
.show{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
}

/* login form */
.login-form, .signup-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.login-form input, .signup-form input{
    margin-left: 10px;
    margin-top: 10px;
}
/* styling for error messages */
.alert{
    /* flex-wrap: nowrap; */
    background-color: rgba(255,0,0, 0.2);
    border: 1px inset rgba(255,0,0, 0.4);
    border-radius: 5px;
    padding: 10px;
    width: 80%;
}
#sign-in-instructions, #sign-up-instructions{
    display: flex;
    justify-content: center;
}

/* demo user styling */
.trends {
  background-color: #661b1c;
}
.demo{
    text-decoration: none;
    color: white;
}
.trendCards {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 30vw;
    height: 20vh;
}
.trendContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}