@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans&display=swap');

h1 {
   margin-top: 0;
   margin-bottom: 0;
   font-family: 'Abril Fatface', cursive;
   color: darkgrey;
}
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
header {
    padding: 15px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191d26;
    position: sticky;
    color: white;
}
footer {
    padding: 20px 15%;
    border-bottom: 1px solid lightgray;
}
.buttons{
    display: flex;
    width: 300px;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}
.main-img {
    height: 50vh;
}
.img-div{
    display: flex;
    justify-content: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.signin, .signup {
  cursor: pointer;
}
.signup {
  border: 2px solid #b39856;
  background-color: #b39856;
  border-radius: 10px;
  padding: 3px 10px;
  margin-left: 10px;
}
.sign-in-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.sign-in-container{
    z-index: 5;
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    position: absolute;
    width: 488px;
    height: 547px;
    background: #191d26;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: grayscale(30%);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
/* Note: backdrop-filter has minimal browser support */
}
.alert-danger{
    position: relative;
    justify-content: center;
    align-items: center;
}
#sign-in-close{
    position: absolute;
    width: 257px;
    height: 40px;
    left: 115px;
    top: 262px;
    background: #b39856;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}
.sign-up-container{
    z-index: 5;
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: 50%;
  padding-right: 50%;
}
.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sign-in-instructions{
    position: absolute;
    width: 298px;
    height: 23px;
    left: 25px;
    top: 25px;

    font-weight: 700;
    font-size: 15px;
    line-height: 23px;

    color: white;
}

#userName-input{
    position: absolute;
    width: 135px;
    height: 23px;
    left: 115px;
    top: 100px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: white;
}

#password-input{
    position: absolute;
    width: 95px;
    height: 23px;
    left: 115px;
    top: 181px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: white;
}

.inputBox{
    width: 257px;
    height: 25px;
    left: 115px;
    top: 204px;
    background: #C4C4C4;
    border-radius: 2px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
