textarea{
    width: 70vw;
    height: 70vh;
    border-top: none;
    border-right:none;
    border-bottom: none;
    border-left: 5px #b39856 solid;
    outline: none;
    transition: all 0.5s linear;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 8px;
}
input {
    width: 70vw;
    height: 7vh;
    border-top: none;
    border-right:none;
    border-bottom: none;
    border-left: 5px #b39856 solid;
    outline: none;
    transition: all 0.5s linear;
    font-size: 40px;
}
.record-form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
button{
    background-color: #661b1c;
    box-shadow: 0px 0px 10px #191d26;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    align-self: flex-end;
    width: 225px;
    transition: all 0.25s linear;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05) perspective(1px);
    box-shadow: none;
}
.bottom-submit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h2 {
    font-family: sans-serif;
    letter-spacing: .48em;
    word-spacing: 100%;
}
.edit-quip{
    letter-spacing: .2em;
    word-spacing: 80%;
}
.alert h2{
    color: red;
    letter-spacing: normal;
    word-spacing:normal;
}
