@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans&display=swap');

body{
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: flex-start;
}

/* record container */
.records{
    margin-top: 20px;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    width: 1100px;
    height: 220px;

    margin-top: 10px;
    margin-left: 5%;
    padding: 20px;

    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-bottom: 1px solid black;

    font-size: 16px;
}

/* title of each record */
.records h2{
    font-family: 'Noto Sans', sans-serif;
    width: 225px;
    height: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.records p{
    overflow: none;
}
textarea {
    resize: none;
}
