@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans&display=swap');

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding-left: 165px;
    padding-right: 50px;
}

/* USER BAR */
aside {
  position: fixed;
  right: 0; top: 0;

  background-color: #191d26;
  border-left: 15px solid #b39856;
  width: 20vw;
  height:100vh;
  padding: 20px;
  color: #dddddd;
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.5);
}
aside h1 {
  padding-left: 10px;
}
.relations {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  /* cursor: pointer; */
}
.follow {
  text-align: center;
  background-color: #191d26;
  color: darkgray;
  padding: 10px;
  border-radius: 10px;
  height: 100px;
}
.hidden {
  pointer-events: none
}
#noTastes {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 600px;
  top: 100px;
  text-align: center;
  color: #bbbbbb;
}
#noTastes h2 {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}
.bio {
  background-color: #1b222c;
  border: 2px inset #1b222c;
  border-radius: 10px;
  padding: 10px;
  height: 500px;
}
.followers, .following {
  font-size: 2em;
  margin: 0;
  padding: 0;
  cursor: default;
}

main {
  margin-right: 20vw;
}

/* record container */
.records{
  display: grid;
  grid-template-columns: 700px auto 100px;
  grid-template-rows: 50px 100px;
  grid-template-areas:
  'title title opts'
  'desc  desc   opts';
  grid-gap: 10px;

  align-items: end;
  justify-items: left;
  padding: 0 0 20px 20px;
  /* padding-left: 20px; */
  border-left: 3px solid transparent;


  /* width: 1100px; */
  margin: 40px 0 10px 0;

  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.records:hover {
border-left: 3px solid #b39856;
}

/* title of each record */
.records h2{
  /* background-color: blue; */

  grid-area: title;

  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  text-overflow: clip;

  width: 700px;
  margin: 0;

  font-weight: 700;
  font-size: 30px;
  color: #191d26;
}
.description {
background-color: #dddddd;
border-radius: 10px;

grid-area: desc;

margin: 0;
width: 100%;
height: 100%;
padding: 10px;

text-decoration: none;
}

.authorOpts {
grid-area: opts;
align-self: end;
justify-self: end;

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

background-color: #dddddd;
height: 100%;
width: 100%;
border-radius: 10px;
}
.authorOpts a {
color: #ffffff;
}
.authorOpts a:hover {
color: #b39856;
}
.delete {
padding: 5px;
background-color: #dddddd;
border: 2px solid #661b1c;
color: #661b1c;
border-radius: 5px;
cursor: pointer;

width: 50px;
height: 50px;
}
.delete:hover {
background-color: #661b1c;
border: 2px solid #661b1c;
color: #dddddd;
}
.edit {
padding: 5px;
background-color: #dddddd;
border: 2px solid #b39856;
color: #b39856;

border-radius: 5px;
cursor: pointer;

width: 50px;
height: 50px;
}
.edit:hover {
background-color: #b39856;
border: 2px solid #b39856;
color: #dddddd;
}
.not-author {
background-color: #ffffff;
}

.records a { text-decoration: none; }
textarea { resize: none; }

main {
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
}
.footer {
box-sizing: border-box;
width: 1100px;
margin-top: 100px;
padding: 10px 0 10px 20px;
color: #1b222c;

display: flex;
align-items: center;
justify-content: space-between;
}
.footer a {
text-decoration: none;
color: #1b222c;
padding: 0 10px 5px 10px;
border-bottom: 2px solid #ffffff
}
.footer a:hover {
border-bottom: 2px solid #191d26;
}
.followers-p, .following-p {
  cursor: default;
}
